-- USERS & ROLES
CREATE TABLE users (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    username VARCHAR(150) UNIQUE NOT NULL,
    password VARCHAR(255) NOT NULL,
    role VARCHAR(50) NOT NULL
);

-- SUPPLIERS
CREATE TABLE suppliers (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name VARCHAR(200) NOT NULL,
    contact VARCHAR(200),
    address TEXT,
    rating FLOAT
);

-- RAW MATERIALS
CREATE TABLE raw_materials (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name VARCHAR(200) NOT NULL,
    type VARCHAR(50) NOT NULL,
    unit VARCHAR(50),
    cost_per_unit DECIMAL(10,2)
);

-- PURCHASE ORDERS
CREATE TABLE purchase_orders (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    supplier_id INTEGER,
    order_date DATE,
    status VARCHAR(50),
    total_cost DECIMAL(12,2),
    FOREIGN KEY (supplier_id) REFERENCES suppliers(id)
);

CREATE TABLE purchase_order_items (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    purchase_order_id INTEGER,
    material_id INTEGER,
    quantity FLOAT,
    price DECIMAL(10,2),
    FOREIGN KEY (purchase_order_id) REFERENCES purchase_orders(id),
    FOREIGN KEY (material_id) REFERENCES raw_materials(id)
);

-- INVENTORY
CREATE TABLE inventory_stock (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    material_id INTEGER,
    quantity_available FLOAT,
    last_updated DATETIME,
    FOREIGN KEY (material_id) REFERENCES raw_materials(id)
);

CREATE TABLE stock_ledger (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    material_id INTEGER,
    change_type VARCHAR(10),
    quantity_changed FLOAT,
    reference VARCHAR(255),
    date DATETIME,
    FOREIGN KEY (material_id) REFERENCES raw_materials(id)
);

-- PRODUCTION
CREATE TABLE production_orders (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    order_name VARCHAR(200),
    target_quantity INTEGER,
    start_date DATE,
    end_date DATE,
    status VARCHAR(50)
);

CREATE TABLE production_phases (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    production_order_id INTEGER,
    phase_name VARCHAR(200),
    status VARCHAR(50),
    start_time DATETIME,
    end_time DATETIME,
    FOREIGN KEY (production_order_id) REFERENCES production_orders(id)
);

CREATE TABLE material_consumption (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    production_order_id INTEGER,
    material_id INTEGER,
    quantity_used FLOAT,
    FOREIGN KEY (production_order_id) REFERENCES production_orders(id),
    FOREIGN KEY (material_id) REFERENCES raw_materials(id)
);

-- QUALITY CONTROL
CREATE TABLE qc_checks (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    production_order_id INTEGER,
    sample_id VARCHAR(200),
    defect_found BOOLEAN,
    defect_type VARCHAR(200),
    qc_status VARCHAR(50),
    date DATETIME,
    FOREIGN KEY (production_order_id) REFERENCES production_orders(id)
);

-- SHIPMENTS (SALES)
CREATE TABLE shipments (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    production_order_id INTEGER,
    shipment_date DATE,
    destination VARCHAR(255),
    quantity INTEGER,
    status VARCHAR(50),
    FOREIGN KEY (production_order_id) REFERENCES production_orders(id)
);

CREATE TABLE customer_feedback (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    shipment_id INTEGER,
    rating INTEGER,
    comments TEXT,
    FOREIGN KEY (shipment_id) REFERENCES shipments(id)
);

-- ML TABLES
CREATE TABLE demand_history (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    date DATE,
    product VARCHAR(200),
    quantity_sold INTEGER
);

CREATE TABLE inventory_prediction_logs (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    material_id INTEGER,
    predicted_requirement FLOAT,
    date DATETIME,
    FOREIGN KEY (material_id) REFERENCES raw_materials(id)
);

CREATE TABLE supplier_performance (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    supplier_id INTEGER,
    delivery_delay_days INTEGER,
    defect_rate FLOAT,
    final_score FLOAT,
    FOREIGN KEY (supplier_id) REFERENCES suppliers(id)
);
